body{
    margin:0;
    padding: 0;
}

.wi{
    height: 400px;
}
.main{
    background-image: url(../images/dance.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mtop{
    margin-top: 20%;
}
.foot{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}